@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+python+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  max-width: 70vw;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif; }

p, li {
  font-family: 'Raleway', sans-serif; }
  p a, li a {
    color: #2a7ae2;
    font-family: Raleway;
    text-decoration: none;
    position: relative; }
  p a:hover, li a:hover {
    color: #2a7ae2;
    text-decoration: none !important; }
  p a:before, li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0em;
    background-color: #FFC107;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  p a:hover:before, li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.contact h2 {
  margin-top: 1em;
  font-weight: normal; }
  .contact h2 strong {
    font-weight: bolder; }

#contact {
  display: none;
  opacity: 0;
  position: absolute;
  top: 5.5em;
  transition: 0.2s; }

#contact-badge:hover + #contact {
  display: inline;
  opacity: 1;
  transition: 0.3s; }

#title a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }
  #title a:hover {
    text-decoration: underline;
    color: #FFD200; }

#topic_title {
  font-family: Raleway;
  flex-grow: 2;
  width: 100%;
  margin-left: 1.5em; }

.header {
  padding: 2em;
  text-align: center; }
  .header h4 {
    display: inline; }
  .header i {
    margin: 0.3em;
    color: black; }
    .header i:hover {
      color: #FFD200; }

.card {
  margin: 0.5em 2.5em;
  flex-grow: 1;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px #FFD200;
  transition: 0.3s; }
  .card .inner {
    padding: 2em; }
  .card h3.url {
    color: green; }
  .card a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none; }
    .card a:hover {
      text-decoration: underline;
      color: black; }
  .card h2 {
    font-size: 1.3rem; }
  .card h4 {
    margin-top: 0.4em; }

.container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .container .description {
    flex-grow: 2;
    animation-name: none; }
    .container .description a {
      color: #2a7ae2;
      text-decoration: none; }
      .container .description a:hover {
        text-decoration: underline;
        color: black; }
  .container .live {
    width: 100%;
    animation-name: none;
    text-align: center;
    flex-grow: 2; }
    .container .live p a {
      color: #2a7ae2;
      text-decoration: none; }
      .container .live p a:hover {
        text-decoration: underline;
        color: black; }
    .container .live h2 {
      padding: 0.5em 0; }
    .container .live .livecoding {
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
      margin-bottom: 1em; }
      .container .live .livecoding img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .container .post {
    flex-grow: 1;
    margin: 1em 2.5em;
    width: 30%; }
    .container .post:hover {
      -webkit-box-shadow: 10px 5px 0px 0px #ffd200;
      -moz-box-shadow: 10px 5px 0px 0px #ffd200;
      box-shadow: 10px 5px 0px 0px #ffd200;
      transition: 0.16s linear; }
  .container .article {
    word-wrap: break-word; }
    .container .article .buttons {
      position: fixed;
      top: 2em;
      left: 1em; }
      .container .article .buttons .back {
        font-size: 17px;
        font-weight: lighter;
        padding: 1em;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px; }
    .container .article a {
      color: #2a7ae2;
      text-decoration: none; }
      .container .article a:hover {
        text-decoration: underline;
        color: black; }
    .container .article .title h1, .container .article .title h4 {
      text-align: center; }
    .container .article .topic {
      font-family: Raleway;
      text-align: left !important;
      color: rgba(0, 0, 0, 0.8);
      font-weight: lighter; }
      .container .article .topic a {
        color: #FFD200; }
    .container .article .content {
      text-align: left;
      word-spacing: 0.2em;
      line-height: 1.2em;
      word-wrap: break-word; }
      .container .article .content p {
        line-spacing: 0.5em;
        word-spacing: 0.4em;
        line-height: 1.3em; }
      .container .article .content h3, .container .article .content ul, .container .article .content li, .container .article .content h2, .container .article .content a, .container .article .content h1, .container .article .content p {
        margin-top: 1em; }
      .container .article .content h2 {
        font-size: 32px; }
      .container .article .content h3 {
        font-size: 26px; }
      .container .article .content h4 {
        font-size: 20px; }
      .container .article .content li {
        margin-left: 1.5em; }

@media screen and (max-width: 550px) {
  #contact-badge:hover + #contact {
    display: none;
    transition: 0.3s; }

  #topic_title {
    margin-left: 0.2em; }

  .card {
    margin: 1em 0.2em; }

  .container .post {
    margin: 1em 0;
    flex-grow: 2;
    width: 60%; }
  .container .article .buttons {
    position: auto; }
    .container .article .buttons .back {
      padding: 0;
      border: 0;
      background: transparent; }
  .container .article .inner {
    padding: 1em; }
  .container .article .content {
    font-size: 15px; } }
@media screen and (max-width: 1150px) {
  .container {
    width: 90%; } }

/*# sourceMappingURL=styles.css.map */
