<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Max Ungless {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="header">
    <h1 id="title"><a href="/">Max Ungless</a></h1>
    <a href="https://codepen.io/MaxUngless/"><i class="fa fa-2x fa-codepen" aria-hidden="true"></i></a>
    <a href="https://github.com/MaxTheMonster/"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
    <a id="contact-badge" href="/contact/"><i class="fa fa-2x fa-id-card-o" aria-hidden="true"></i></a><h4 id="contact">Contact</h4>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>
