{% extends "Blog/base.html" %}
{% block title %}Contact me |{% endblock %}

{% block content %}
<div class="container">
  <h1 id="topic_title">Contact me</h1>
  <div class="card contact">
    <div class="inner">
      <p>Currently, you can contact me via email or Wickr.</p>
      <h2><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp; Email: <a href="mailto:max
        "></a><strong>maxungless@gmail.com</strong></h2></a>
      <h2><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp; Wickr: <strong>maxung</strong></h2>
    </div>
  </div>
</div>
{% endblock %}
