{% extends "Blog/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="description card">
    <div class="inner">
      <p>I'm Max Ungless and I am an aspiring software developer living in London. I began programming at the age of 6 with a visual tool called <a href="http://scratch.mit.edu">Scratch</a> and since then my obsession with <a href="{% url 'topic_detail' 'programming' %}">programming</a> has only grown. Now I specialise in building web applications with a wide array of languages including HTML, CSS, JavaScript, Django (Python), and PHP. I have built several websites and applications, which you can check out at <a href="{% url 'work' %}">My Work</a> that have not only made my days fun, but helped others.</p>
      <p> Whilst not endlessly coding, I enjoy writing with my fountain pens, a particularly fun pastime of mine which I might write an article or two about. Also - as is required by the law, I attend school and thus must revise for exams... I'd usually prefer to be programming.</p>
    </div>
  </div>

  <div class="live card">
    <div class="inner">
      <h2>LiveEdu</h2>
      <div class="livecoding">
      <a href="http://liveedu.tv/maxthemonster">
        <img src="{% static "livecoding.png" %}" alt="LiveEdu.tv Stream">
      </a>
      </div>
      <p>I often livestream on <a href="http://liveedu.tv/maxthemonster">LiveEdu.tv</a>. Catch me when I stream!</p>
    </div>
  </div>

  <div class="article card">
    <a href="{% url 'work' %}">
      <div class="inner">
        <h2><i class="fa fa-list" aria-hidden="true"></i>&nbsp; Check out my work</h2>
      </div>
    </a>
  </div>
  {% for article in articles %}
  <div class="article card">
    <a href="{% url 'article_detail' article.slug %}">
    <div class="inner">
      <h2><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp; {{ article.title }}</h2>
      <h4>{{ article.published }}</h4>
    </div>
    </a>
  </div>
  {% endfor %}

</div>
{% endblock %}
