{% extends "Blog/base.html" %}

{% block title %}| Work{% endblock %}

{% block content %}
<div class="container">
  <h1 id="topic_title">My Work</h1>
  <div class="card">
    <div class="inner">
      <a href="http://maximumrevision.co.uk"><h1>MaximumRevision</h1>
      <h3 class="url">http://maximumrevision.co.uk</h3></a>
      <p>I built this website to provide resources to people taking GCSEs and A-Levels in the UK. A-Level resources lack content, but it will be updated soon.</p>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <a href="http://latinvocab.maximumrevision.co.uk"><h1>Latin Vocabulary</h1>
      <h3 class="url">http://latinvocab.maximumrevision.co.uk</h3></a>
      <p>This website is a useful tool for learning and searching through all of the GCSE Latin Vocabulary. The website has a automatically updating search bar and a test tool, where you can take tests on the vocabulary.</p>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <a href="http://codedictionary.io"><h1>CodeDictionary</h1>
      <h3 class="url">http://codedictionary.io</h3></a>
      <p>CodeDictionary is rather a legacy of many of my streams on LiveCoding.tv. It is a website for searching through useful terminology in terms of programming and computers. It has community submitted definitions of many words.</p>
    </div>
  </div>
</div>
{% endblock %}
